<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastrar Usuário</title>
</head>
<body>
    <h1>Cadastrar Usuário</h1>
    <form action="" method="post">
        <input type="text" name="nome" placeholder="Nome">
        <input type="text" name="idade" placeholder="Idade">
        <button type="submit">Cadastre</button>
    </form>
    {% with mensagens = get_flashed_messages() %}
        {%if mensagens %} <!--se for true-->
            {% for cadastrado in mensagens %}
                <p>{{ cadastrado }}</p>
            {% endfor %}
        {% endif %}
    {% endwith %}
    <a href="/">Volte para Home Page</a>
</body>
</html>