<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard Empresas</title>
</head>
<body>
    <h1>Empresas</h1>
    {% for empresa in empresas %}
    <p>Empresa: "{{empresa.empresa}} - CNPJ: {{empresa.cnpj}}
        <form action="{{ url_for('editarempresa', id=empresa.id) }}" method="get" style="display:inline"><button type="submit">Editar</button>
        </form>
        <form action="{{ url_for('confirmar_exclusao_empresa', id=empresa.id) }}" method="get" style="display:inline"><button type="submit">Excluir</button>
        </form>
    </p>
    {% endfor %}
    <h1>Cadastrar nova empresa</h1>
    <form action="" method="post">
        <input type="text" name="empresa" placeholder="Nome da Empresa" required> <br>
        <input type="text" name="cnpj" placeholder="CPNJ" required> <br>
        <button type="submit">Cadastrar Empresa</button>
    </form>
    <a href="/">Volte para Home Page</a>
</body>
</html>