<!doctype html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dashboard Usuários</title>
  </head>
  <body>
    <h1>Usuários</h1>
    {% for usuario in usuarios %}
    <p>ID: {{usuario.id}} - Nome: "{{usuario.nome}}" - Email: {{usuario.email}} - Empresa: {{usuario.empresa.empresa}}
      <a href="{{ url_for('editarusuario', id=usuario.id) }}"><button type="button">Editar</button></a>
      <a href="{{ url_for('excluirusuario', id=usuario.id) }}"><button type="button">Excluir</button></a>
    </p>
    {% endfor %}
    <br>
    <h1>Cadastrar Usuário</h1>
    <form action="" method="post">
        <input type="text" name="nome" placeholder="Nome" required> <br>
        <input type="text" name="email" placeholder="E-mail" required> <br>
        <label for="empresa">Empresa</label>
        <select name="empresa" id="empresa">
            {% for empresa in empresas %}
                <option value="{{empresa.id}}">{{empresa.empresa}}</option>
            {% endfor %}
        </select> <br>
        <input type="password" name="senha" placeholder="Senha" required> <br>
        <button type="submit">Cadastre</button>
    </form>
    {% with mensagens = get_flashed_messages() %}
        {% if mensagens %}
            {% for cadastrado in mensagens %}
                <p>{{ cadastrado }}</p>
            {% endfor %}
        {% endif %}
    {% endwith %}
    <br>
    <a href="/">Volte para Home Page</a>
  </body>
</html>