<!doctype html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Deletar Usuário</title>
  </head>
  <body>
    <h1>Digite o ID para deletar o usuário:</h1>
    <form action="" method="post">
        <input type="text" name="id" placeholder="ID">
        <button type="submit">Deletar</button>
    </form>
    {% with mensagens = get_flashed_messages() %}
        {%if mensagens %} <!--se for true-->
            {% for cadastrado in mensagens %}
                <p>{{ cadastrado }}</p>
            {% endfor %}
        {% endif %}
    {% endwith %}
    <a href="/">Volte para Home Page</a>
  </body>
</html>
