<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar Usuário</title>
</head>
<body>
    <form action="" method="post">
        <h1><center>Editar Usuário</center></h1>
        <p><center>Nome: <input type="text" name="novonome" placeholder="{{usuario.nome}}"></center></p>
        <p><center>Email: <input type="text" name="novoemail" placeholder="{{usuario.email}}"></center></p>
        <center><button type="submit">Confirmar</button></center>
        <center><a href="/">Voltar para home page</a></center>
    </form>
</body>
</html>