<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Painel Admin</title>
    <!-- <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}"> -->
</head>
<body>
    <!-- <div class="container"></div> -->
    <h1>Painel Admin</h1>
    <a href="/cadastro">Cadastre um usuário</a> <br>
    <a href="/login">Login</a> <br>
    <a href="/usuarios">Dashboard usuários</a> <br>
    <a href="/empresas">Dashboard empresas</a> <br>
    <a href="/pedidos">Dashboard pedidos</a> <br>
    <a href="/criarpedido">Criar pedido</a> <br>
    <a href="/verpedidos">Ver pedidos</a> <br>
    <a href="/logout">Sair</a>
    <!-- </div> -->
</body>
</html>