<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <!--<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}"> -->
</head>
<body>
    <!-- <div class="container"></div> -->
    <h1>Login</h1>
    <form action="" method="post">
        <input type="text" name="email" placeholder="E-mail" required> <br>
        <input type="password" name="senha" placeholder="Senha" required> <br>
        <a href="/cadastro">Cadastre-se!</a> <br>
        <button type="submit">Login</button>
    </form>
    {% with mensagens = get_flashed_messages() %}
        {%if mensagens %} <!--se for true-->
            {% for cadastrado in mensagens %}
                <p>{{ cadastrado }}</p>
            {% endfor %}
        {% endif %}
    {% endwith %}
    <!--</div>-->
</body>
</html>