<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar Setor</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <form action="" method="post">
        <h1><center>Editar Usuário</center></h1>
        <p><center>Nome: <input type="text" name="novonome" placeholder="{{setor.setor}}"></center></p>
        <center><button type="submit">Confirmar</button></center>
        <center><a href="/paineladmin">Volte para o Painel Admin</a></center>
    </form>
</body>
</html>
