<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Excluir Chamado</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <form method="POST">
        <p>Tem certeza que deseja excluir o chamado {{chamado.titulo}}?</p>
        <input type="radio" id="sim" name="confirmacao" value="sim" required>
        <label for="sim">Sim</label>
        <input type="radio" id="nao" name="confirmacao" value="nao" required>
        <label for="nao">Não</label>
        <button type="submit">Confirmar</button>
    </form>
</body>
</html>
